In [174]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load 
data_to_load = "loan_data.csv"


# Covert to Dataframe
loan_data_df = pd.read_csv(data_to_load)

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (34,36,38,42,44,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [175]:
loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1714459 entries, 0 to 1714458
Data columns (total 78 columns):
 #   Column                          Dtype
---  ------                          -----
 0   as_of_year                      int64
 1   respondent_id                   object
 2   agency_name                     object
 3   agency_abbr                     object
 4   agency_code                     int64
 5   loan_type_name                  object
 6   loan_type                       int64
 7   property_type_name              object
 8   property_type                   int64
 9   loan_purpose_name               object
 10  loan_purpose                    int64
 11  owner_occupancy_name            object
 12  owner_occupancy                 int64
 13  loan_amount_000s                float64
 14  preapproval_name                object
 15  preapproval                     int64
 16  action_taken_name               object
 17  action_taken                    int64
 18  msamd_name                      object
 19  msamd                           float64
 20  state_name                      object
 21  state_abbr                      object
 22  state_code                      int64
 23  county_name                     object
 24  county_code                     float64
 25  census_tract_number             float64
 26  applicant_ethnicity_name        object
 27  applicant_ethnicity             int64
 28  co_applicant_ethnicity_name     object
 29  co_applicant_ethnicity          int64
 30  applicant_race_name_1           object
 31  applicant_race_1                int64
 32  applicant_race_name_2           object
 33  applicant_race_2                float64
 34  applicant_race_name_3           object
 35  applicant_race_3                float64
 36  applicant_race_name_4           object
 37  applicant_race_4                float64
 38  applicant_race_name_5           object
 39  applicant_race_5                float64
 40  co_applicant_race_name_1        object
 41  co_applicant_race_1             int64
 42  co_applicant_race_name_2        object
 43  co_applicant_race_2             float64
 44  co_applicant_race_name_3        object
 45  co_applicant_race_3             float64
 46  co_applicant_race_name_4        object
 47  co_applicant_race_4             float64
 48  co_applicant_race_name_5        object
 49  co_applicant_race_5             float64
 50  applicant_sex_name              object
 51  applicant_sex                   int64
 52  co_applicant_sex_name           object
 53  co_applicant_sex                int64
 54  applicant_income_000s           float64
 55  purchaser_type_name             object
 56  purchaser_type                  int64
 57  denial_reason_name_1            object
 58  denial_reason_1                 float64
 59  denial_reason_name_2            object
 60  denial_reason_2                 float64
 61  denial_reason_name_3            object
 62  denial_reason_3                 float64
 63  rate_spread                     float64
 64  hoepa_status_name               object
 65  hoepa_status                    int64
 66  lien_status_name                object
 67  lien_status                     int64
 68  edit_status_name                float64
 69  edit_status                     float64
 70  sequence_number                 float64
 71  population                      float64
 72  minority_population             float64
 73  hud_median_family_income        float64
 74  tract_to_msamd_income           float64
 75  number_of_owner_occupied_units  float64
 76  number_of_1_to_4_family_units   float64
 77  application_date_indicator      float64
dtypes: float64(27), int64(18), object(33)
memory usage: 1020.3+ MB

In [176]:
agency_df = loan_data_df[['agency_code','agency_name', 'agency_abbr']]

agency_df.drop_duplicates(inplace=True, ignore_index=True)
agency_df.sort_values(by=['agency_code'], inplace=True, ignore_index=True)
agency_df.set_index('agency_code', inplace=True)

agency_count = loan_data_df.groupby('agency_code')['agency_code'].count()
agency_df['count']= agency_count

agency_df.to_csv('agency.csv')
agency_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                             agency_name agency_abbr    count
agency_code
1              Office of the Comptroller of the Currency         OCC    30729
2                                 Federal Reserve System         FRS    11246
3                  Federal Deposit Insurance Corporation        FDIC    47492
5                   National Credit Union Administration        NCUA    74203
7            Department of Housing and Urban Development         HUD  1005353
9                   Consumer Financial Protection Bureau        CFPB   545436

In [177]:
loan_type_df = loan_data_df[['loan_type_name', 'loan_type']]
loan_type_df.drop_duplicates(inplace=True, ignore_index=True)
loan_type_df.sort_values(by=['loan_type'], inplace=True)
loan_type_df.set_index('loan_type', inplace=True)

loan_type_count = loan_data_df.groupby('loan_type')['loan_type'].count()
loan_type_df['count'] = loan_type_count

loan_type_df.to_csv('loan_type.csv')
loan_type_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

               loan_type_name    count
loan_type
1                Conventional  1324862
2                 FHA-insured   255304
3               VA-guaranteed   128964
4          FSA/RHS-guaranteed     5329

In [178]:
property_df = loan_data_df[['property_type_name', 'property_type']]
property_df.drop_duplicates(inplace=True, ignore_index=True)
property_df.sort_values(by=['property_type'], inplace=True)
property_df.set_index('property_type', inplace=True)

property_count = loan_data_df.groupby('property_type')['property_type'].count()
property_df['count'] = property_count

property_df.to_csv('property.csv')
property_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                              property_type_name    count
property_type
1              One-to-four family dwelling (other than manufa...  1671889
2                                           Manufactured housing    29856
3                                           Multifamily dwelling    12714

In [179]:
purpose_df = loan_data_df[['loan_purpose_name', 'loan_purpose']]
purpose_df.drop_duplicates(inplace=True, ignore_index=True)
purpose_df.sort_values(by=['loan_purpose'], inplace=True,ignore_index=True)
purpose_df.set_index('loan_purpose', inplace=True)

purpose_count = loan_data_df.groupby('loan_purpose')['loan_purpose'].count()
purpose_df['count'] = purpose_count

purpose_df.to_csv('purpose.csv')
purpose_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

             loan_purpose_name   count
loan_purpose
1                Home purchase  678869
2             Home improvement  118236
3                  Refinancing  917354

In [180]:
owner_occupancy_df = loan_data_df[['owner_occupancy_name', 'owner_occupancy']]
owner_occupancy_df.drop_duplicates(inplace=True, ignore_index=True)
owner_occupancy_df.sort_values(by=['owner_occupancy'], inplace=True,ignore_index=True)
owner_occupancy_df.set_index('owner_occupancy', inplace=True)

owner_occupancy_count = loan_data_df.groupby('owner_occupancy')['owner_occupancy'].count()
owner_occupancy_df['count'] = owner_occupancy_count

owner_occupancy_df.to_csv('owner_occupancy.csv')
owner_occupancy_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                       owner_occupancy_name    count
owner_occupancy
1                    Owner-occupied as a principal dwelling  1505518
2                Not owner-occupied as a principal dwelling   194399
3                                            Not applicable    14542

In [181]:
preapproval_df = loan_data_df[['preapproval_name', 'preapproval']]
preapproval_df.drop_duplicates(inplace=True, ignore_index=True)
preapproval_df.sort_values(by=['preapproval'], inplace=True, ignore_index=True)
preapproval_df.set_index('preapproval', inplace=True)

preapproval_count = loan_data_df.groupby('preapproval')['preapproval'].count()
preapproval_df['count'] = preapproval_count

preapproval_df.to_csv('preapproval.csv')
preapproval_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                          preapproval_name    count
preapproval
1                Preapproval was requested    28723
2            Preapproval was not requested   179061
3                           Not applicable  1506675

In [182]:
action_taken_df = loan_data_df[['action_taken_name', 'action_taken']]
action_taken_df.drop_duplicates(inplace=True, ignore_index=True)
action_taken_df.sort_values(by=['action_taken'], inplace=True, ignore_index=True)
action_taken_df.set_index('action_taken', inplace=True)

action_taken_count = loan_data_df.groupby('action_taken')['action_taken'].count()
action_taken_df['count'] = action_taken_count

action_taken_df.to_csv('action_taken.csv')
action_taken_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                              action_taken_name   count
action_taken
1                                               Loan originated  877753
2                         Application approved but not accepted   53535
3                   Application denied by financial institution  226258
4                            Application withdrawn by applicant  241369
5                                File closed for incompleteness   81948
6                             Loan purchased by the institution  233447
7             Preapproval request denied by financial instit...      80
8                 Preapproval request approved but not accepted      69

In [183]:
msamd_df = loan_data_df[['msamd_name', 'msamd','state_name','state_abbr','state_code','county_name','county_code']]
msamd_df.drop_duplicates(inplace=True, ignore_index=True)


# There were less than 200 entries will null

msamd_df.sort_values(by=['msamd'], inplace=True, ignore_index=True)

msamd_df.set_index('msamd', inplace=True)




msamd_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,msamd_name,state_name,state_abbr,state_code,county_name,county_code
msamd,,,,,,
11244.0,"Anaheim, Santa Ana, Irvine - CA",California,CA,6,Orange County,59.0
12540.0,Bakersfield - CA,California,CA,6,Kern County,29.0
17020.0,Chico - CA,California,CA,6,Butte County,7.0
17340.0,NaN,California,CA,6,Lake County,33.0
18860.0,NaN,California,CA,6,Del Norte County,15.0
...,...,...,...,...,...,...
NaN,NaN,California,CA,6,Merced County,47.0
NaN,NaN,California,CA,6,Inyo County,27.0
NaN,NaN,California,CA,6,San Luis Obispo County,79.0
NaN,NaN,California,CA,6,Kings County,31.0
NaN,NaN,California,CA,6,Imperial County,25.0

In [184]:
applicant_ethnicity_df = loan_data_df[['applicant_ethnicity_name', 'applicant_ethnicity']]
applicant_ethnicity_df.drop_duplicates(inplace=True, ignore_index=True)
applicant_ethnicity_df.sort_values(by=['applicant_ethnicity'], inplace=True, ignore_index=True)
applicant_ethnicity_df.set_index('applicant_ethnicity', inplace=True)

applicant_ethnicity_count = loan_data_df.groupby('applicant_ethnicity')['applicant_ethnicity'].count()
applicant_ethnicity_df['count'] = applicant_ethnicity_count

applicant_ethnicity_df.to_csv('ethnicity.csv')
applicant_ethnicity_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,applicant_ethnicity_name,count
applicant_ethnicity,,
1,Hispanic or Latino,326031
2,Not Hispanic or Latino,1001439
3,"Information not provided by applicant in mail,...",225835
4,Not applicable,161154

In [185]:
# co_applicant_ethnicity_df = loan_data_df[['co_applicant_ethnicity_name', 'co_applicant_ethnicity']]
# co_applicant_ethnicity_df.drop_duplicates(inplace=True, ignore_index=True)
# co_applicant_ethnicity_df.sort_values(by=['co_applicant_ethnicity'], inplace=True, ignore_index=True)
# co_applicant_ethnicity_df.set_index('co_applicant_ethnicity', inplace=True)

# co_applicant_ethnicity_count = loan_data_df.groupby('co_applicant_ethnicity')['co_applicant_ethnicity'].count()
# co_applicant_ethnicity_df['count'] = co_applicant_ethnicity_count


# co_applicant_ethnicity_df

In [186]:
applicant_race_df = loan_data_df[['applicant_race_name_1', 'applicant_race_1']]
applicant_race_df.drop_duplicates(inplace=True, ignore_index=True)
applicant_race_df.sort_values(by=['applicant_race_1'], inplace=True, ignore_index=True)
applicant_race_df.set_index('applicant_race_1', inplace=True)

applicant_race_count = loan_data_df.groupby('applicant_race_1')['applicant_race_1'].count()
applicant_race_df['count'] = applicant_race_count

applicant_race_df.to_csv('race.csv')
applicant_race_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                              applicant_race_name_1   count
applicant_race_1
1                                  American Indian or Alaska Native   15819
2                                                             Asian  212429
3                                         Black or African American   68421
4                         Native Hawaiian or Other Pacific Islander   16313
5                                                             White  969817
6                 Information not provided by applicant in mail,...  271228
7                                                    Not applicable  160432

In [187]:
applicant_sex_df = loan_data_df[['applicant_sex_name', 'applicant_sex']]
applicant_sex_df.drop_duplicates(inplace=True, ignore_index=True)
applicant_sex_df.sort_values(by=['applicant_sex'], inplace=True, ignore_index=True)
applicant_sex_df.set_index('applicant_sex', inplace=True)

applicant_sex_count = loan_data_df.groupby('applicant_sex')['applicant_sex'].count()
applicant_sex_df['count'] = applicant_sex_count

applicant_sex_df.to_csv('sex.csv')
applicant_sex_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                              applicant_sex_name   count
applicant_sex
1                                                           Male  996254
2                                                         Female  427287
3              Information not provided by applicant in mail,...  130868
4                                                 Not applicable  160050

In [188]:
purchaser_type_df = loan_data_df[['purchaser_type_name', 'purchaser_type']]
purchaser_type_df.drop_duplicates(inplace=True, ignore_index=True)
purchaser_type_df.sort_values(by=['purchaser_type'], inplace=True, ignore_index=True)
purchaser_type_df.set_index('purchaser_type', inplace=True)

purchaser_type_count = loan_data_df.groupby('purchaser_type')['purchaser_type'].count()
purchaser_type_df['count'] = purchaser_type_count

purchaser_type_df.to_csv('purchaser_type.csv')
purchaser_type_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                              purchaser_type_name   count
purchaser_type
0               Loan was not originated or was not sold in cal...  893403
1                                               Fannie Mae (FNMA)  257246
2                                               Ginnie Mae (GNMA)  158456
3                                             Freddie Mac (FHLMC)  171975
4                                               Farmer Mac (FAMC)      35
5                                          Private securitization   17202
6               Commercial bank, savings bank or savings assoc...   89764
7               Life insurance company, credit union, mortgage...   82080
8                                           Affiliate institution   12319
9                                         Other type of purchaser   31979

In [189]:
denial_reason_df = loan_data_df[['denial_reason_name_1', 'denial_reason_1']]
denial_reason_df.drop_duplicates(inplace=True, ignore_index=True)
denial_reason_df.sort_values(by=['denial_reason_1'], inplace=True, ignore_index=True)
denial_reason_df.set_index('denial_reason_1', inplace=True)

denial_reason_count = loan_data_df.groupby('denial_reason_1')['denial_reason_1'].count()
denial_reason_df['count'] = denial_reason_count

denial_reason_df.to_csv('denial_reason')
denial_reason_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                           denial_reason_name_1    count
denial_reason_1
1.0                                        Debt-to-income ratio  49084.0
2.0                                          Employment history   1531.0
3.0                                              Credit history  28375.0
4.0                                                  Collateral  19886.0
5.0              Insufficient cash (downpayment, closing costs)   4858.0
6.0                                    Unverifiable information   9060.0
7.0                               Credit application incomplete  23034.0
8.0                                   Mortgage insurance denied     67.0
9.0                                                       Other  14627.0
NaN                                                         NaN      NaN

In [190]:
lien_status_df = loan_data_df[['lien_status_name', 'lien_status']]
lien_status_df.drop_duplicates(inplace=True, ignore_index=True)
lien_status_df.sort_values(by=['lien_status'], inplace=True, ignore_index=True)
lien_status_df.set_index('lien_status', inplace=True)

lien_status_count = loan_data_df.groupby('lien_status')['lien_status'].count()
lien_status_df['count'] = lien_status_count

lien_status_df.to_csv('lien_status.csv')
lien_status_df

/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/Users/nicholasmckinney/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                          lien_status_name    count
lien_status
1                  Secured by a first lien  1414092
2            Secured by a subordinate lien    47535
3                    Not secured by a lien    19385
4                           Not applicable   233447

In [191]:
cleaned_loan_data_df = loan_data_df.drop(columns=['agency_name',
'agency_abbr', 'loan_type_name', 'property_type_name', 'loan_purpose_name',
'owner_occupancy_name', 'preapproval_name', 'action_taken_name', 'applicant_ethnicity_name',
'co_applicant_ethnicity_name', 'applicant_race_name_1', 'applicant_race_name_2', 'applicant_race_name_3',
'applicant_race_name_4', 'applicant_race_name_5', 'co_applicant_race_name_1','co_applicant_race_name_2', 
'co_applicant_race_name_3', 'co_applicant_race_name_4', 'co_applicant_race_name_5', 
'applicant_sex_name', 'co_applicant_sex_name', 'purchaser_type_name', 'denial_reason_name_1', 'denial_reason_name_2'
'denial_reason_2', 'denial_reason_name_3', 'denial_reason_3', 'lien_status_name','hoepa_status_name', 'hoepa_status',
'edit_status_name', 'edit_status', 'sequence_number', 'as_of_year'])
len(cleaned_loan_data_df.columns)

45

In [192]:
dropping = cleaned_loan_data_df[(cleaned_loan_data_df['applicant_race_1']== 6)].index
cleaned_loan_data_df.drop(dropping,inplace=True)

dropping = cleaned_loan_data_df[(cleaned_loan_data_df['applicant_race_1']== 7)].index
cleaned_loan_data_df.drop(dropping,inplace=True)

cleaned_loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1282799 entries, 0 to 1714433
Data columns (total 45 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   respondent_id                   1282799 non-null  object
 1   agency_code                     1282799 non-null  int64
 2   loan_type                       1282799 non-null  int64
 3   property_type                   1282799 non-null  int64
 4   loan_purpose                    1282799 non-null  int64
 5   owner_occupancy                 1282799 non-null  int64
 6   loan_amount_000s                1282154 non-null  float64
 7   preapproval                     1282799 non-null  int64
 8   action_taken                    1282799 non-null  int64
 9   msamd_name                      1250107 non-null  object
 10  msamd                           1250297 non-null  float64
 11  state_name                      1282799 non-null  object
 12  state_abbr                      1282799 non-null  object
 13  state_code                      1282799 non-null  int64
 14  county_name                     1281483 non-null  object
 15  county_code                     1281483 non-null  float64
 16  census_tract_number             1280711 non-null  float64
 17  applicant_ethnicity             1282799 non-null  int64
 18  co_applicant_ethnicity          1282799 non-null  int64
 19  applicant_race_1                1282799 non-null  int64
 20  applicant_race_2                13232 non-null    float64
 21  applicant_race_3                920 non-null      float64
 22  applicant_race_4                250 non-null      float64
 23  applicant_race_5                181 non-null      float64
 24  co_applicant_race_1             1282799 non-null  int64
 25  co_applicant_race_2             5298 non-null     float64
 26  co_applicant_race_3             317 non-null      float64
 27  co_applicant_race_4             127 non-null      float64
 28  co_applicant_race_5             82 non-null       float64
 29  applicant_sex                   1282799 non-null  int64
 30  co_applicant_sex                1282799 non-null  int64
 31  applicant_income_000s           1230877 non-null  float64
 32  purchaser_type                  1282799 non-null  int64
 33  denial_reason_name_1            117361 non-null   object
 34  denial_reason_name_2            28786 non-null    object
 35  denial_reason_name_3            5352 non-null     object
 36  rate_spread                     35481 non-null    float64
 37  lien_status                     1282799 non-null  int64
 38  population                      1280711 non-null  float64
 39  minority_population             1280711 non-null  float64
 40  hud_median_family_income        1280711 non-null  float64
 41  tract_to_msamd_income           1280711 non-null  float64
 42  number_of_owner_occupied_units  1280711 non-null  float64
 43  number_of_1_to_4_family_units   1280711 non-null  float64
 44  application_date_indicator      0 non-null        float64
dtypes: float64(21), int64(16), object(8)
memory usage: 450.2+ MB

In [193]:
dropping = cleaned_loan_data_df[(cleaned_loan_data_df['applicant_sex']== 3)].index 
cleaned_loan_data_df.drop(dropping,inplace=True)

dropping = cleaned_loan_data_df[(cleaned_loan_data_df['applicant_sex']== 4)].index 
cleaned_loan_data_df.drop(dropping,inplace=True)

cleaned_loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1278337 entries, 0 to 1714433
Data columns (total 45 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   respondent_id                   1278337 non-null  object
 1   agency_code                     1278337 non-null  int64
 2   loan_type                       1278337 non-null  int64
 3   property_type                   1278337 non-null  int64
 4   loan_purpose                    1278337 non-null  int64
 5   owner_occupancy                 1278337 non-null  int64
 6   loan_amount_000s                1277692 non-null  float64
 7   preapproval                     1278337 non-null  int64
 8   action_taken                    1278337 non-null  int64
 9   msamd_name                      1245787 non-null  object
 10  msamd                           1245957 non-null  float64
 11  state_name                      1278337 non-null  object
 12  state_abbr                      1278337 non-null  object
 13  state_code                      1278337 non-null  int64
 14  county_name                     1277030 non-null  object
 15  county_code                     1277030 non-null  float64
 16  census_tract_number             1276264 non-null  float64
 17  applicant_ethnicity             1278337 non-null  int64
 18  co_applicant_ethnicity          1278337 non-null  int64
 19  applicant_race_1                1278337 non-null  int64
 20  applicant_race_2                13168 non-null    float64
 21  applicant_race_3                902 non-null      float64
 22  applicant_race_4                233 non-null      float64
 23  applicant_race_5                166 non-null      float64
 24  co_applicant_race_1             1278337 non-null  int64
 25  co_applicant_race_2             5278 non-null     float64
 26  co_applicant_race_3             310 non-null      float64
 27  co_applicant_race_4             119 non-null      float64
 28  co_applicant_race_5             75 non-null       float64
 29  applicant_sex                   1278337 non-null  int64
 30  co_applicant_sex                1278337 non-null  int64
 31  applicant_income_000s           1226680 non-null  float64
 32  purchaser_type                  1278337 non-null  int64
 33  denial_reason_name_1            116826 non-null   object
 34  denial_reason_name_2            28659 non-null    object
 35  denial_reason_name_3            5327 non-null     object
 36  rate_spread                     35413 non-null    float64
 37  lien_status                     1278337 non-null  int64
 38  population                      1276264 non-null  float64
 39  minority_population             1276264 non-null  float64
 40  hud_median_family_income        1276264 non-null  float64
 41  tract_to_msamd_income           1276264 non-null  float64
 42  number_of_owner_occupied_units  1276264 non-null  float64
 43  number_of_1_to_4_family_units   1276264 non-null  float64
 44  application_date_indicator      0 non-null        float64
dtypes: float64(21), int64(16), object(8)
memory usage: 448.6+ MB

In [196]:
dropping = cleaned_loan_data_df[(cleaned_loan_data_df['applicant_ethnicity']== 3)].index 
cleaned_loan_data_df.drop(dropping,inplace=True)

dropping = cleaned_loan_data_df[(cleaned_loan_data_df['applicant_ethnicity']== 4)].index 
cleaned_loan_data_df.drop(dropping,inplace=True)

cleaned_loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1259117 entries, 0 to 1714260
Data columns (total 45 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   respondent_id                   1259117 non-null  object
 1   agency_code                     1259117 non-null  int64
 2   loan_type                       1259117 non-null  int64
 3   property_type                   1259117 non-null  int64
 4   loan_purpose                    1259117 non-null  int64
 5   owner_occupancy                 1259117 non-null  int64
 6   loan_amount_000s                1258472 non-null  float64
 7   preapproval                     1259117 non-null  int64
 8   action_taken                    1259117 non-null  int64
 9   msamd_name                      1227191 non-null  object
 10  msamd                           1227357 non-null  float64
 11  state_name                      1259117 non-null  object
 12  state_abbr                      1259117 non-null  object
 13  state_code                      1259117 non-null  int64
 14  county_name                     1257841 non-null  object
 15  county_code                     1257841 non-null  float64
 16  census_tract_number             1257146 non-null  float64
 17  applicant_ethnicity             1259117 non-null  int64
 18  co_applicant_ethnicity          1259117 non-null  int64
 19  applicant_race_1                1259117 non-null  int64
 20  applicant_race_2                12787 non-null    float64
 21  applicant_race_3                840 non-null      float64
 22  applicant_race_4                195 non-null      float64
 23  applicant_race_5                130 non-null      float64
 24  co_applicant_race_1             1259117 non-null  int64
 25  co_applicant_race_2             5151 non-null     float64
 26  co_applicant_race_3             285 non-null      float64
 27  co_applicant_race_4             98 non-null       float64
 28  co_applicant_race_5             54 non-null       float64
 29  applicant_sex                   1259117 non-null  int64
 30  co_applicant_sex                1259117 non-null  int64
 31  applicant_income_000s           1208385 non-null  float64
 32  purchaser_type                  1259117 non-null  int64
 33  denial_reason_name_1            114826 non-null   object
 34  denial_reason_name_2            28165 non-null    object
 35  denial_reason_name_3            5242 non-null     object
 36  rate_spread                     34860 non-null    float64
 37  lien_status                     1259117 non-null  int64
 38  population                      1257146 non-null  float64
 39  minority_population             1257146 non-null  float64
 40  hud_median_family_income        1257146 non-null  float64
 41  tract_to_msamd_income           1257146 non-null  float64
 42  number_of_owner_occupied_units  1257146 non-null  float64
 43  number_of_1_to_4_family_units   1257146 non-null  float64
 44  application_date_indicator      0 non-null        float64
dtypes: float64(21), int64(16), object(8)
memory usage: 441.9+ MB

In [197]:
cleaned_loan_data_df = cleaned_loan_data_df[cleaned_loan_data_df['msamd'].notnull()]
cleaned_loan_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1227357 entries, 0 to 1714260
Data columns (total 45 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   respondent_id                   1227357 non-null  object
 1   agency_code                     1227357 non-null  int64
 2   loan_type                       1227357 non-null  int64
 3   property_type                   1227357 non-null  int64
 4   loan_purpose                    1227357 non-null  int64
 5   owner_occupancy                 1227357 non-null  int64
 6   loan_amount_000s                1226751 non-null  float64
 7   preapproval                     1227357 non-null  int64
 8   action_taken                    1227357 non-null  int64
 9   msamd_name                      1227191 non-null  object
 10  msamd                           1227357 non-null  float64
 11  state_name                      1227357 non-null  object
 12  state_abbr                      1227357 non-null  object
 13  state_code                      1227357 non-null  int64
 14  county_name                     1227357 non-null  object
 15  county_code                     1227357 non-null  float64
 16  census_tract_number             1227357 non-null  float64
 17  applicant_ethnicity             1227357 non-null  int64
 18  co_applicant_ethnicity          1227357 non-null  int64
 19  applicant_race_1                1227357 non-null  int64
 20  applicant_race_2                12447 non-null    float64
 21  applicant_race_3                819 non-null      float64
 22  applicant_race_4                189 non-null      float64
 23  applicant_race_5                125 non-null      float64
 24  co_applicant_race_1             1227357 non-null  int64
 25  co_applicant_race_2             5021 non-null     float64
 26  co_applicant_race_3             278 non-null      float64
 27  co_applicant_race_4             94 non-null       float64
 28  co_applicant_race_5             52 non-null       float64
 29  applicant_sex                   1227357 non-null  int64
 30  co_applicant_sex                1227357 non-null  int64
 31  applicant_income_000s           1178030 non-null  float64
 32  purchaser_type                  1227357 non-null  int64
 33  denial_reason_name_1            111735 non-null   object
 34  denial_reason_name_2            27517 non-null    object
 35  denial_reason_name_3            5150 non-null     object
 36  rate_spread                     33957 non-null    float64
 37  lien_status                     1227357 non-null  int64
 38  population                      1227357 non-null  float64
 39  minority_population             1227357 non-null  float64
 40  hud_median_family_income        1227357 non-null  float64
 41  tract_to_msamd_income           1227357 non-null  float64
 42  number_of_owner_occupied_units  1227357 non-null  float64
 43  number_of_1_to_4_family_units   1227357 non-null  float64
 44  application_date_indicator      0 non-null        float64
dtypes: float64(21), int64(16), object(8)
memory usage: 430.7+ MB