In [1]:
# import dependencies
import pandas as pd
from path import Path 
import numpy as np 
import os

In [2]:
# constant, float
tracking_columns = ['edit_status_name', 'edit_status', 'sequence_number']

#demographic float columns, 
demographics_columns = ['population', 'minority_population', 'hud_median_family_income', 'tract_to_msamd_income', 'number_of_owner_occupied_units', 'number_of_1_to_4_family_units']

# categorical text/numeric
applicant_sex_columns = ['applicant_sex_name', 'applicant_sex', 'co_applicant_sex_name', 'co_applicant_sex']

race_ethnicity_columns = ['applicant_ethnicity_name', 'applicant_ethnicity', 'co_applicant_ethnicity_name', 'co_applicant_ethnicity', 'applicant_race_name_1', 'applicant_race_1', 'applicant_race_name_2', 'applicant_race_2', 'applicant_race_name_3', 'applicant_race_3', 'applicant_race_name_4', 'applicant_race_4', 'applicant_race_name_5', 'applicant_race_5', 'co_applicant_race_name_1', 'co_applicant_race_1', 'co_applicant_race_name_2', 'co_applicant_race_2', 'co_applicant_race_name_3', 'co_applicant_race_3', 'co_applicant_race_name_4', 'co_applicant_race_4', 'co_applicant_race_name_5', 'co_applicant_race_5']

# loan info float
monetary_columns = ['loan_amount_000s', 'applicant_income_000s','rate_spread']

# loan info categorical
loan_info_columns = ['loan_type_name', 'loan_type', 'property_type_name', 'property_type', 'loan_purpose_name', 'loan_purpose', 'owner_occupancy_name', 'owner_occupancy', 'purchaser_type_name', 'purchaser_type','hoepa_status_name', 'hoepa_status', 'lien_status_name',
'lien_status']

# pre/approval
preapproval_columns = ['preapproval_name', 'preapproval']
approval_columns = ['action_taken_name', 'action_taken']

# denial
denial_reason_columns = ['denial_reason_name_1', 'denial_reason_1', 'denial_reason_name_2','denial_reason_2', 'denial_reason_name_3', 'denial_reason_3']

# date/time/location columns
date_time_loc_columns = ['as_of_year', 'respondent_id', 'agency_name', 'agency_abbr', 'agency_code','msamd_name', 'msamd', 'state_name', 'state_abbr', 'state_code', 'county_name', 'county_code', 'census_tract_number', 'application_date_indicator']

In [4]:
# set path and load dataframe
path = Path('./data/cleaned_data.csv')
df = pd.read_csv(path, low_memory=False)

In [5]:
df.head()

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,...,preprocessing,1,821596366097,4824.0,37.230000,75200.0,57.419998,818.0,1626.0,NaN
1,2017,0000146672,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,preprocessing,1,851383882164,7404.0,57.520000,63200.0,116.010002,1215.0,1743.0,NaN
2,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,preprocessing,1,635563072669,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,NaN
3,2017,13-6131491,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,preprocessing,1,928539172961,8787.0,65.129997,97400.0,97.269997,1463.0,2164.0,NaN
4,2017,33-0419992,Department of Housing and Urban Development,HUD,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,preprocessing,1,174921368083,5356.0,23.100000,75200.0,126.690002,1711.0,2102.0,NaN

In [6]:
num_df_columns = ['sequence_number', 'population', 'minority_population', 'hud_median_family_income', 'tract_to_msamd_income', 'number_of_owner_occupied_units', 'number_of_1_to_4_family_units', 'applicant_sex', 'co_applicant_sex', 'applicant_ethnicity', 'co_applicant_ethnicity', 'applicant_race_1', 'co_applicant_race_1', 'loan_amount_000s', 'applicant_income_000s', 'loan_type', 'loan_purpose',  'purchaser_type', 'property_type','owner_occupancy', 'hoepa_status', 'county_code', 'action_taken']

In [7]:
num_df = df.loc[:, num_df_columns].copy(deep=True)
num_df.head()

,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,applicant_sex,co_applicant_sex,applicant_ethnicity,...,loan_amount_000s,applicant_income_000s,loan_type,loan_purpose,purchaser_type,property_type,owner_occupancy,hoepa_status,county_code,action_taken
0,821596366097,4824.0,37.230000,75200.0,57.419998,818.0,1626.0,2,1,2,...,570.0,144.0,1,2,0,1,1,2,67.0,3
1,851383882164,7404.0,57.520000,63200.0,116.010002,1215.0,1743.0,2,5,2,...,185.0,51.0,1,1,0,1,2,2,65.0,3
2,635563072669,3372.0,33.189999,97400.0,141.740005,592.0,1105.0,3,3,3,...,1079.0,278.0,1,1,0,1,1,2,1.0,1
3,928539172961,8787.0,65.129997,97400.0,97.269997,1463.0,2164.0,1,2,2,...,417.0,125.0,1,3,0,1,1,2,13.0,3
4,174921368083,5356.0,23.100000,75200.0,126.690002,1711.0,2102.0,1,5,2,...,379.0,86.0,2,3,0,1,1,2,67.0,2

In [8]:
num_df_duplicates = num_df.duplicated().sum()
print(f'num_df duplicate count: {num_df_duplicates}')

num_df duplicate count: 0

In [9]:
num_df = num_df.dropna(how='any')
num_df.isna().sum()

sequence_number                   0
population                        0
minority_population               0
hud_median_family_income          0
tract_to_msamd_income             0
number_of_owner_occupied_units    0
number_of_1_to_4_family_units     0
applicant_sex                     0
co_applicant_sex                  0
applicant_ethnicity               0
co_applicant_ethnicity            0
applicant_race_1                  0
co_applicant_race_1               0
loan_amount_000s                  0
applicant_income_000s             0
loan_type                         0
loan_purpose                      0
purchaser_type                    0
property_type                     0
owner_occupancy                   0
hoepa_status                      0
county_code                       0
action_taken                      0
dtype: int64

In [10]:
num_df_row_count = len(num_df)
num_df_column_count = len(num_df.columns)
print(f'Row Count: {num_df_row_count} | Column Count: {num_df_column_count}')

Row Count: 1509023 | Column Count: 23

In [11]:
num_df.to_csv('./data/numeric_database.csv', index=False)

In [15]:
print('Done!')

Done!